@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* From Uiverse.io by exyreams */ 
.cssload-container * {
  box-sizing: border-box;
}

.cssload-container {
  margin: 38px auto 0 auto;
  max-width: 1048px;
}

.cssload-container ul li {
  list-style: none;
}

.cssload-flex-container {
  display: flex;
  display: -o-flex;
  display: -ms-flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cssload-flex-container li {
  padding: 19px;
  height: 188px;
  width: 188px;
  margin: 56px 38px;
  position: relative;
  text-align: center;
}

.cssload-loading-center {
  display: inline-block;
  position: absolute;
    /* The color can be custmized, This color is for center cube.*/
  background: #ff0000;
  height: 56px;
  width: 56px;
  left: 68px;
  top: 69px;
  transform: rotate(45deg);
  border-radius: 6px;
  animation: pulse 1.3s ease infinite;
}

.cssload-loading {
  display: inline-block;
  position: relative;
  width: 141px;
  height: 141px;
  margin-top: 6px;
  transform: rotate(45deg);
}

.cssload-loading:after, .cssload-loading:before {
  position: absolute;
  content: '';
  height: 19px;
  width: 19px;
  display: block;
  top: 0;
    /* The color can be custmized, This color is for 4 cubes.*/
  background: #ff5252;
  border-radius: 6px;
}

.cssload-loading:after {
  right: 0;
  animation: square-tr 2.6s ease infinite;
  animation-delay: .162.5s;
}

.cssload-loading:before {
  animation: square-tl 2.6s ease infinite;
  animation-delay: .162.5s;
}

.cssload-loading.cssload-two {
  position: relative;
  top: -150px;
}

.cssload-loading.cssload-two:after, .cssload-loading.cssload-two:before {
  bottom: 0;
  top: initial;
}

.cssload-loading.cssload-two:after {
  animation: square-br 2.6s ease infinite;
  animation-direction: reverse;
}

.cssload-loading.cssload-two:before {
  animation: square-bl 2.6s ease infinite;
  animation-direction: reverse;
}

@keyframes square-tl {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 117.5px);
  }

  50% {
    transform: translate(117.5px, 117.5px);
  }

  75% {
    transform: translate(117.5px, 0);
  }
}

@keyframes square-bl {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, -117.5px);
  }

  50% {
    transform: translate(117.5px, -117.5px);
  }

  75% {
    transform: translate(117.5px, 0);
  }
}

@keyframes square-tr {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-117.5px, 0);
  }

  50% {
    transform: translate(-117.5px, 117.5px);
  }

  75% {
    transform: translate(0, 117.5px);
  }
}

@keyframes square-br {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-117.5px, 0);
  }

  50% {
    transform: translate(-117.5px, -117.5px);
  }

  75% {
    transform: translate(0, -117.5px);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes pulse {
  0%, 100% {
    transform: scale(inherit) rotate(45deg);
  }

  75% {
    transform: scale(0.25) rotate(45deg);
  }
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}